body {
  background-color: #333333;
  font-family: sans-serif;
  color: white;
}

main {
  width: 500px;
  margin: auto;
}

.inputfield {
  width: 100%;
  padding: 0;
  margin: 0;
}

.todoinput {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  border: none;
  border-bottom: 2px solid lightblue;
  background: rgba(0, 0, 0, 0);
  color: white;
}

.checkbox {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.deletebutton {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  background-color: #e44242;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  width: 25px;
  height: 25px;
}

.addbutton {
  width: 500px;
  height: 50px;
  background-color: rgba(77, 77, 77, 0);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.itemdone {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  padding-left: 5px;
  text-decoration: line-through;
  color: rgba(234, 240, 246, 0.8);
}

.renderlist {
}

.listitem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
  margin-bottom: 5px;
  background: rgba(255, 255, 255, 0.05);
}

.popup {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  width: 300px;
  padding: 25px;
  color: black;
}




.cardstack{
  display:flex;
  flex-wrap:wrap;
  gap:25px;
}

.memorycard{
  width: 75px;
  height: 100px;
  border-radius: 10px;
  background-color:#e44242;
  overflow: hidden;
}

.hidden{
  display:none;
}

.sidebyside{
  display: flex;
  gap: 25px;
}

.leftside{
  display: flex;
}

.rightside{
 
}

.righttitle{
  width:100%;
}

.exchangerates{
  display: flex;
}

ul{
  list-style:none;
  margin: 0;
  padding: 0;
}

.exchangeLi{
  padding: 0px 0px 10px 0px;
}

.key{
  display: inline-block;
  width: 140px;
}

.value{
  display: inline-block;

}

.numberinput {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  border: none;
  border-bottom: 2px solid lightblue;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-size: 5vw;
  width:100%;
}

.arrow{
  font-size:100px;
  font-weight:lighter;
}



.block{
  width:75px;
  height:75px;
  background-color:black;
  border-radius: 10px;
}

.column{
  width:75px;
  display:flex;
  flex-direction: column;
  gap:5px;
}

.container{
  display: flex;
  gap:5px;
}

.inactive {
  background-color:gray;
}

.blockActive{
   background-color:#5c5c5c
}

.passive{


}

.active > .Block { 
  background-color: rgb(30, 30, 30); 
} 

.active > .blockActive { 
  background-color: red;
} 

.active > .blockNotActive { 
  background-color: rgba(255, 0, 0, 0.51);
} 


.drumpanel {
  display: flex;
}

.instrument {
  width:75px;
  height:75px;

  gap:25px;
  text-align:center;
  line-height: 75px;
}

.instrumentlist{
  width:75px;
  display:flex;
  flex-direction: column;
  gap:5px;
}